name: Build and Deploy to Kubernetes

on:
  workflow_call:
    inputs:
      tag: { required: true, type: string }
      subprojects: { required: false, type: string }
    secrets:
      registry: { required: true }
      k8s_cluster_name: { required: true }
      k8s_namespace: { required: true }
      k8s_deployment_name: { required: true }
      do_api_token: { required: true }

env:
  REPOSITORY: ${{ secrets.k8s_namespace }}/${{ secrets.k8s_deployment_name }}
  DOCKERFILE: Dockerfile.production

jobs:
  prepare-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set.outputs.matrix }}
    steps:
      - id: set
        run: |
          if [[ -z "${{ inputs.subprojects }}" || "${{ inputs.subprojects }}" == "" ]]; then
            echo 'matrix={"project":["root"]}' >> $GITHUB_OUTPUT
          else
            matrix=$(echo "${{ inputs.subprojects }}" | jq -R '{project: (split(","))}')
            echo "matrix=$matrix" >> $GITHUB_OUTPUT
          fi

  run-matrix:
    needs: prepare-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJson(needs.prepare-matrix.outputs.matrix) }}
      fail-fast: false
    steps:
      - name: Checkout workflows
        uses: actions/checkout@v4
        with:
          repository: ${{ github.action_repository }}
          ref: ${{ github.action_ref }}
          path: workflows

      - name: Build and push Docker image for ${{ matrix.project }}
        id: build
        uses: ./workflows/.github/actions/docker-buildx
        with:
          project: ${{ matrix.project }}
          registry: ${{ secrets.registry }}
          repository: ${{ env.REPOSITORY }}
          tag: ${{ inputs.tag }}
          do_api_token: ${{ secrets.do_api_token }}

      - name: Deploy Docker image for ${{ matrix.project }}
        uses: ./workflows/.github/actions/kube-deploy
        with:
          project: ${{ matrix.project }}
          image: ${{ steps.build.outputs.image }}
          tag: ${{ inputs.tag }}
          k8s_cluster_name: ${{ secrets.k8s_cluster_name }}
          k8s_namespace: ${{ secrets.k8s_namespace }}
          k8s_deployment_name: ${{ secrets.k8s_deployment_name }}
          do_api_token: ${{ secrets.do_api_token }}
