name: Rollback Kubernetes deployment

on:
  workflow_call:
    inputs:
      project: { required: false, type: string }
      k8s_cluster_name: { required: true, type: string }
      k8s_namespace: { required: true, type: string }
      k8s_deployment_name: { required: true, type: string }
    secrets:
      do_api_token: { required: true }

jobs:
  rollback:
    runs-on: ubuntu-latest
    steps:
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.do_api_token }}

      - name: Fetch kubeconfig
        shell: bash
        run: doctl kubernetes cluster kubeconfig save ${{ inputs.k8s_cluster_name }}

      - name: Set current deployment
        id: meta
        run: |
          if [[ "${{ inputs.project }}" == "root" ]]; then
            echo "deployment=${{ inputs.k8s_deployment_name }}" >> "$GITHUB_OUTPUT"
          else
            echo "deployment=${{ inputs.k8s_deployment_name }}-${{ inputs.project }}" >> "$GITHUB_OUTPUT"
          fi

      - name: Rollback to previous revision
        run: |
          echo "⚠️ Manual rollback initiated"
          kubectl rollout undo deployment/${{ steps.meta.outputs.deployment }} \
            --namespace=${{ inputs.k8s_namespace }}
